{% extends 'base.html' %}


{% block links %}

	<link rel="stylesheet" href="{{ url_for( 'static', filename = 'css/min/index.min.css' ) }}">

{% endblock %}


{% block path %}

	главная

{% endblock %}


{% block content %}

	<h1>База данных законов и кодексов РФ</h1>

	<p>Это небольшая система, которая отображает и помогает в поиске различных законов, кодексов и подобного.</p>

	<h2>Конституция</h2>

	<a href="{{ url_for( 'law', id = laws[0].id ) }}" class="global__main-link">
		{{ laws[0].title }}
	</a>

	<h2>Кодексы</h2>

	{% for i in range(1, 24) %}

		<a href="{{ url_for( 'law', id = laws[i].id ) }}" class="global__main-link">
			{{ laws[i].title }}
		</a>

	{% endfor %}

	<h2>Законы</h2>

	{% for i in range(25, 95) %}

		<a href="{{ url_for( 'law', id = laws[i].id ) }}" class="global__main-link">
			{{ laws[i].title }}
		</a>

	{% endfor %}

{% endblock %}
